[Unit]
Description=Checkpoint Firefox Browser Launcher
After=checkpoint.service
Wants=checkpoint.service display-manager.service

[Service]
Type=simple
ExecStart=/usr/bin/chromium-browser --kiosk --disable-cache --disk-cache-size=1 --media-cache-size=1 --noerrdialogs --disable-infobars --incognito http://localhost:8000/static
User=checkpoint
Environment=DISPLAY=:0
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
